.toggleChar {
    margin-bottom: 20px;
    background: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.app{
    overflow-x: hidden;
    background: url('../../media/img/got.jpeg') center center no-repeat;
    background-size: cover;
    font-size: 16px;
    height: 100%;
}